#xcode
build/
xcuserdata/ 
*.xcworkspace

# cocoapads
Pods/

# raw image files before conversion to assets
images/raw
images/sketches

# irb
.irb-history

# Calabash / Cucumber
rerun/
reports/
screenshots/
screenshot*.png
test-servers/

# test results
unitTestResults.xml

